@import "@vuepic/vue-datepicker/dist/main.css";
@import "vars.scss";

// Must use #{ }
// Remark: https://stackoverflow.com/questions/50202991/unable-to-set-scss-variable-to-css-variable
.dp__theme_dark {
    --dp-background-color: #{$dark-bg};
    --dp-text-color: #{$dark-font-color};
    --dp-hover-color: #1e293b;
    --dp-hover-text-color: #ffffff;
    --dp-hover-icon-color: #cbd5e1;
    --dp-primary-color: #{$primary};
    --dp-primary-text-color: #0f172a;
    --dp-secondary-color: #334155;
    --dp-border-color: #{$dark-border-color};
    --dp-menu-border-color: #{$dark-border-color};
    --dp-border-color-hover: #{$primary};
    --dp-disabled-color: #090d16;
    --dp-scroll-bar-background: #090d16;
    --dp-scroll-bar-color: #1e293b;
    --dp-success-color: #{$primary};
    --dp-success-color-disabled: rgba(16, 185, 129, 0.5);
    --dp-icon-color: #94a3b8;
    --dp-danger-color: #{$danger};
    --dp-highlight-color: rgba(16, 185, 129, 0.15);
}

.dp__input {
    border-radius: $border-radius;
}

// Fix: Full width of text input when using "inline textInput inlineWithInput" mode
.dp__main > div[aria-label="Datepicker input"] {
    width: 100%;
}

.dp__main > div[aria-label="Datepicker menu"]:nth-child(2) {
    margin-top: 20px;
}
